<!-- List of streamers -->
<div data-role="page" data-quicklinks="true" id="home">
  <ul data-role="listview" data-inset="false">
  <% streamers.each do |streamer| %>
    <li>
      <a href="viewer?<%= streamer.ws.object_id %>" data-ajax="false">
        <img src="../tmp/screenshots/<%= streamer.ws.object_id %>">
        <p><%= streamer.ws.object_id %></p>
      </a>
    </li>
  <% end %>
  </ul>
  <div data-role="footer" data-position="fixed">
    <h4><a href="streamer" data-ajax="false">Start streaming now!</a></h4>
  </div>
</div>
