<% noscroll ||= false %>
<!doctype html>
<!--
  @author Intellectual Demon <intellectualdemon@protonmail.ch>
-->
<html lang="en">
<head>
  <title>Dirtyscreen - Bitcoin Camsite Extraordinaire</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="ds.css">
  <link rel="stylesheet" href="jquery.mobile-1.4.5.min.css">
</head>
<body<%= " class=\"noscroll\"" if noscroll %>>
<%= yield %>
  <script src="jquery.min.js"></script>
  <script src="jquery.mobile-1.4.5.min.js"></script>
  <script src="ds.js"></script>
</body>
</html>
