<!-- Streamer gets video -->
<div data-role="page" id="streamer">
  <div data-role="header">
    <div class="viewer_count">
      <button data-icon="eye" data-iconpos="notext"></button>
      <span></span>
    </div>
  </div>
  <video autoplay muted></video>
</div>
