<!-- Viewer gets video -->
<div data-role="page" id="viewer">
  <div data-role="header">
    <div class="streamer_online">
      <button data-icon="eye" data-iconpos="notext"></button>
    </div>
  </div>
  <video autoplay></video>
</div>
