/**
* @author Intellectual Demon <intellectualdemon@protonmail.ch>
**/
body.noscroll {
  overflow: hidden
}

.center {
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
  background: black
}

body:not(.noscroll) .ui-footer .ui-link {
  text-decoration: none
}

.ui-header .ui-btn {
  border: 0
}
.ui-header > .viewer_count > .ui-btn {
  background: red
}
.viewer_count, .streamer_online {
  position: absolute;
  color: #eee;
  right: 0.5rem;
  text-shadow: none;
  z-index: 1
}
